---
  swagger: '2.0'
  info:
    description: This is a sample document for the agreement resource
    version: '0.1.0'
    title: Agreement
    termsOfService: 'http://example.com'
    contact:
      email: djfurman@gmail.com
    license:
      name: BSD 3-Clause License
      url: 'https://raw.githubusercontent.com/facet-acq/post-award/develop/LICENSE.md'
  host: 'facet.danielfurman.net'
  basePath: '/api/v1'
  tags:
  - name: Agreement
    description: Generic term for a contract
    externalDocs:
      description: 'Learn more!'
      url: 'https://github.com/facet-acq/post-award/wiki/Getting-Started'
  schemes:
  - 'http'
  paths:
    /agreement:
      get:
        summary: Collection of agreements
        description: Returns a collection of all agreements to which the user has access with pagination
        operationId: 'AgreementController::index'
        produces:
          - application/json
        responses:
          200:
            description: Paginated collection of agreements
            schema:
              type: array
              items:
                $ref: '#/definitions/Agreement'
          default:
            description: Error payload
            schema:
              type: array
              items:
                $ref: '#/definitions/ErrorResponse'
      post:
        summary: Add a new agreement for the system to manage
        description: Agreements exist in many forms including bailment, blanket purchase agreements, contracts, basic agreements, basic ordering agreements, grants, indefiniate delivery - indefinate quantity, purchase orders, indefinate delivery - definate quantity, requirements, letter contacts, taks orders, leases and release/delivery orders; however, each of these agreements share basic elements and management aspects after they have been awarded. This endpoint provides a unified entry point to place an agreement of any type under management for the post-award system.
        operationId: 'AgreementController::create'
        produces:
        - application/json
        schemes:
        - http
        parameters:
        - name: agreement_details
          in: body
          schema:
            $ref: '#/definitions/Agreement'
        responses:
          201:
            description: The provided agreement was successfully added to the post award system.
            schema:
              $ref: '#/definitions/AgreementResponse'
          400:
            description: The provided agreement failed basic preconditions, please refer to API documentation for required data.
            schema:
              $ref: '#/definitions/ErrorResponse'
          401:
            description: Agreements must be provided with appropriate authorization and will not be processed from unauthorized entities.
            schema:
              $ref: '#/definitions/ErrorResponse'
          409:
            description: The provided agreement has already been processed by post award and is on file, this appears to be a duplicate. The client should use the PATCH endpoint to update an existing agreement.
            schema:
              $ref: '#/definitions/ErrorResponse'
          415:
            description: Agreements must be provided in appropriate application/json structure for real time processing. Other microservices may handle conversion of resources for conversion to this format and should be used instead.
            schema:
              $ref: '#/definitions/ErrorResponse'
          500:
            description: Something went wrong server side, this is likely not a problem with the input and the server has not yet implemented appropriate handling for the condition created, administrators have been notified.
            schema:
              $ref: '#/definitions/ErrorResponse'
          503:
            description: The server is temporarily unavailable retry in provided header duration, provided in seconds.
            schema:
              $ref: '#/definitions/ErrorResponse'
    /agreement/:id:
      get:
        summary: Retrieves a specific agreement
        description: Retrieves the full agreement object for a single agreement record
        operationId: 'AgreementController::find'
        produces:
        - application/json
        schemes:
        - http
        parameters:
        - name: id
          in: path
          description: UUID v4 for the agreement to be used, may be better as the agreement slug
          required: true
          type: string
        responses:
          200:
            description: The provided agreement was successfully located by the system as under management and the response body contains the full agreement object.
            schema:
              $ref: '#/definitions/AgreementResponse'
          404:
            description: The provided agreement was not located by the system. It may never have been posted in order to place it under management.
            schema:
              $ref: '#/definitions/ErrorResponse'
      patch:
        summary: Update an agreement
        description: Updates an agreement to match the provided data
        operationId: 'AgreementController::update'
        produces:
        - application/json
        schemes:
        - http
        parameters:
        - name: id
          in: path
          description: UUID v4 for the agreement to be used, may be better as the agreement slug
          required: true
          type: string
        responses:
          200:
            description: The provided agreement was successfully added to the post award system.
            schema:
              $ref: '#/definitions/AgreementResponse'
          400:
            description: The provided agreement failed basic preconditions, please refer to API documentation for required data.
            schema:
              $ref: '#/definitions/ErrorResponse'
          401:
            description: Agreements must be provided with appropriate authorization and will not be processed from unauthorized entities.
            schema:
              $ref: '#/definitions/ErrorResponse'
          409:
            description: The provided agreement has already been processed by post award and is on file, this appears to be a duplicate. The client should use the PATCH endpoint to update an existing agreement
            schema:
              $ref: '#/definitions/ErrorResponse'
          415:
            description: Agreements must be provided in appropriate application/json structure for real time processing. Other microservices may handle conversion of resources for conversion to this format and should be used instead.
            schema:
              $ref: '#/definitions/ErrorResponse'
          500:
            description: Something went wrong server side, this is likely not a problem with the input and the server has not yet implemented appropriate handling for the condition created, administrators have been notified.
            schema:
              $ref: '#/definitions/ErrorResponse'
          503:
            description: The server is temporarily unavailable retry in provided header duration, provided in seconds.
            schema:
              $ref: '#/definitions/ErrorResponse'
      delete:
        summary: Remove an agreement
        description: Remove an agreement and all related information from the system
        operationId: 'AgreementController::destroy'
        produces:
        - application/json
        schemes:
        - http
        parameters:
        - name: id
          in: path
          description: UUID v4 for the agreement to be used, may be better as the agreement slug
          required: true
          type: string
        responses:
          204:
            description: The requested agreement and all related records were successfully deleted
          401:
            description: The request failed to include the appropriate authorization information
            schema:
              $ref: '#/definitions/ErrorResponse'
          403:
            description: The request included the authorization information, however, the user specified is disallowed from removing the agreement.
          404:
            description: The provided agreement was not located by the system. It may never have been posted in order to place it under management.
            schema:
              $ref: '#/definitions/ErrorResponse'
  definitions:
    Agreement:
      type: object
      properties:
        agreement_details:
          type: object
          properties:
            order_identifier:
              type: string
              example: FAKEBUY18A0001
            release_identifier:
              type: string
              example: FAKEORD18F0001
            effective_date:
              type: string
              format: 'date-time'
            total_value:
              type: number
              format: double
              example: 1257291938.21
        party_list:
          type: array
          items:
            $ref: '#/definitions/party'
        fund_list:
          type: array
          items:
            $ref: '#/definitions/fund'
        reference_list:
          type: array
          items:
            $ref: '#/definitions/reference'
        term_list:
          type: array
          items:
            $ref: '#/definitions/term'
        item_list:
          type: array
          items:
            $ref: '#/definitions/item'
    fund:
      type: object
      properties:
        amount:
          type: number
          format: double
          description: Total obligation amount of the referenced funding line
          example: 129748.31
        accounting_type:
          type: string
          description: Supported funding types
          default: SloaAccountingLine
          enum:
            - SloaAccountingLine
            - AirForceLegacyAccountingLine
            - ArmyLegacyAccountingLine
            - MarineCorpsAccountingLine
            - NavyLegacyAccountingLine
        accounting_information:
          $ref: '#/definitions/accounting_information'
        accounting_classification_reference_number:
          type: string
          example: AA
      required:
        - amount
        - funding_type
    accounting_information:
      type: object
      properties:
        standard_line_of_accounting:
          type: object
          description: US-SECDEF Comptroller and Chief Management Officer format detailed at http://dcmo.defense.gov/Portals/47/Documents/SFIS/SLoA_Accounting_Class_Memo.pdf; Descriptions are taken directly from this memorandum and are not the responsibility of this interface. They have been reproduced here for documentation of the interface and convenience only.
          properties:
            blob_with_hats:
              type: string
              description: Carot delimited string starting with a delimiter (think position 0 as always null) representing a standard line of accounting
              example: '^^^097^2018^2020^^0400^002^DISB^252^R^111^^^^^2504^1700^021001^^^^^^^'
            sub_class:
              type: string
              description: Grouping of a transaction type; a.k.a. Sub-level Prefix
              example: 46
            department_transfer:
              type: string
              description: Transfer of obligation authority; a.k.a. Allocation Transfer Agency Identifier
              example: 11
            department_regular:
              type: string
              description: Congressional Appropriation Owner
              example: 097
            bpoa:
              type: string
              format: date-time
              description: Beginning Period of Availability Fiscal Year Date
            epoa:
              type: string
              format: date-time
              description: Ending Period of Availability Fiscal Year Date
            availability_type:
              type: string
              description: A24 in SFIS, e.g., X for no-year money
              example: X
            main_account:
              type: string
              description: Appropriation Symbol or Basic Symbol
              example: 0400
            sub_account:
              type: string
              description: Indicates the relationship to the Main Account
              example: 002
            business_event_type_code:
              type: string
              description: Replaces Transaction Codes
              example: DISB
            object_class:
              type: string
              description: Will initially be implemented at the three-digit level as in SFIS with room to expand to six, e.g., 252
              example: 252
            reimbursable_flag:
              type: string
              description: Direct, Reimbursable Code
              example: R
            budget_line_item:
              type: string
              description: Further sub-divides the Treasury Account Fund Symbol below sub-activity; a.k.a. Budget Sub-Activity BSA in MilPers
              example: 111
            security_cooperation:
              type: string
              description: The country, customer, or U.S. program receiving the product/service
              example: CAN
            security_cooperation_implementing_agency_code:
              type: string
              description: Identifies the U.S. MILDEP or agency which is executing the FMS sale on behalf of the U.S. Government; e.g., B-Army, D-Air Force, P-Navy
              example: B
            security_cooperation_case_designator:
              type: string
              description: Identifies the FMS or Security Cooperation contractual sales agreement between countries
              example: UAK
            security_cooperation_case_line_item_identifier:
              type: string
              description: Security Cooperation (SC) Customer; Identifies a detailed line-item requirement
              example: 001
            sub_allocation:
              type: string
              description: Use of this data element is exclusive to sub-allocation purposes, useful for Financial Reporting
              example: 2504
            agency_disbursing_identifier_code:
              type: string
              description: Synonymous with Treasury DSSN definitions for each disbursing office
              example: 1700
            agency_accounting_identifier:
              type: string
              description: Fiscal Station Number; Comptroller defined; Identifies the accounting system responsible for the accounting event
              example: 021001
            funding_center_identifier:
              type: string
              description: Cost Object/Cost Accounting (CA) section in SFIS; Army = Funds Center, ASN; Air Force = OAC, OBAN; Navy = BCN
              example: FQPA000123
            cost_center_identifier:
              type: string
              description: CA section in SFIS; e.g., Army = Cost Center, ASN; Air Force = Resource Center/Cost Center (RC/CC); Navy = BCN
              example: FQPA000123
            project_identifier:
              type: string
              description: CA section in SFIS; e.g., Army = WBS; Air Force = Project; Navy = WBS (Cost Code)
              example: ABCD000123
            activity_identifier:
              type: string
              description: CA section in SFIS; e.g., Army = Activity/Network; Air Force = Activity or Special Project; Navy = Activity
              example: ZYXW000001
            cost_element_code:
              type: string
              description: CA section in SFIS; e.g., Army = Commitment Item; Air Force = Element of Expense Investment Code (EEIC); Navy = Cost Element
              example: 123456789
            work_order_number:
              type: string
              description: CCA section in SFIS; e.g., Army = Internal Order; Air Force = Job Order; Navy = Job Order (Cost Code)
              example: 123456789
            functional_area:
              type: string
              description: CA section in SFIS; e.g., Army = Functional Area; Air Force = Budget/Project
              example: 123456789
    party:
      type: object
      properties:
        office_code:
          type: string
          description: Shorthand code identifying the office itself in one of the several systems of record for authoritative locations
          example: CAGE
        office_type:
          type: string
          description: Identifier for which official code system to which the pointer belongs
          enum:
            - CAGE
            - DODAAC
            - DUNS
            - 'DUNS+4'
          example: CGE01
        role:
          type: string
          description: Identifier for the role which the identified office plays in the agreement
          enum:
            - Buyer
            - Seller
            - Subcontractor
            - Postal Mailing Address
            - Contracting Officer Representative
            - Government Furnished Property FOB Point
            - Inspection and Acceptance Location
            - Contract Administrator
            - Facility
            - Free on Board Point
            - Acceptance Location
            - Inspection Location
            - Payer
            - Remittance Location
            - Ship To Location
            - Service Performance Location
            - Mark-for Party
          example: Buyer
        address:
          $ref: '#/definitions/address'
        coordinates:
          $ref: '#/definitions/coordinates'
      required:
      - role
    reference:
      type: object
      properties:
        reference_type:
          type: string
          description: Pointer to which reference source the data pretains
          example: 'Statement of Work'
        reference_value:
          type: string
          description: Detail data
          example: B0000118W00010001
    term:
      type: object
      properties:
        term_source:
          type: string
          description: From what authority does the term derive
          example: 'DFARS'
        term_identifier:
          type: string
          description: Pointer to the term itself
          example: '52.222-50'
    item:
      type: object
      properties:
        identifier:
          type: string
          description: Line item identifier
          example: '0001AA'
    address:
      type: object
      properties:
        addressee:
          type: string
          description: name of the business or individual to whom the address pretains
          example: John Doe, Inc
        care_of:
          type: string
          description: Second line address or c/o name
          default: null
          example: Alice Bobson
        street_number_and_name:
          type: string
          description: Street number and name
          example: 123 Main Street NW
        city:
          type: string
          description: City in which the address resides
          example: Springfield
        state:
          type: string
          description: Two character state identifier
          example: MA
        postal_code:
          type: integer
          minimum: 11111
          maximum: 999999999
        country_code:
          type: string
          description: ISO-3166 Three Position Country Code
          minLength: 3
          maxLength: 3
          example: USA
      required:
      - addressee
      - street_number_and_name
      - city
      - state
      - postal_code
    coordinates:
        type: object
        properties:
          latitude_value:
            type: number
            format: double
            example: 42.1015
          latitude_direction:
            type: string
            enum:
              - N
              - S
            example: N
          longitude_value:
            type: number
            format: double
            example: 72.5898
          longitude_direction:
            type: string
            enum:
              - E
              - W
            example: W
        required:
        - latitude_value
        - latitude_direction
        - longitude_value
        - longitude_direction
    docs:
      description: Relevant documentation that may be of use to the requestor
      type: array
      items:
        type: object
        properties:
          purpose:
            type: string
            description: To what this document pretains
            example: 'Post-Award'
          link:
            type: string
            description: URI pointer to the documentation
            example: 'https://github.com/facet-acq/post-award/wiki'
    AgreementResponse:
      description: The agreement response object
      allOf:
        - $ref: '#/definitions/Agreement'
        - $ref: '#/definitions/docs'
    ErrorResponse:
      description: The error response object
      allOf:
      - $ref: '#/definitions/docs'
      - type: object
        properties:
          errors:
            type: array
            items:
              type: string
              description: Message about the error
