---
  swagger: '2.0'
  info:
    description: This is a sample document for the agreement resource
    version: '0.1.0'
    title: Agreement
    termsOfService: 'http://example.com'
    contact:
      email: djfurman@gmail.com
    license:
      name: BSD 3-Clause License
      url: 'https://raw.githubusercontent.com/facet-acq/post-award/develop/LICENSE.md'
  host: 'facet.danielfurman.net'
  basePath: '/api/v1'
  tags:
  - name: Agreement
    description: Generic term for a contract
    externalDocs:
      description: 'Learn more!'
      url: 'https://github.com/facet-acq/post-award/wiki/Getting-Started'
  schemes:
  - 'http'
  paths:
    /agreement:
      get:
        summary: Collection of agreements
        description: Returns a collection of all agreements to which the user has access with pagination
        operationId: 'AgreementController::index'
        produces:
          - application/json
        responses:
          200:
            description: Paginated collection of agreements
            schema:
              type: array
              items:
                $ref: '#/definitions/Agreement'
          default:
            description: Error payload
            schema:
              type: array
              items:
                $ref: '#/definitions/ErrorResponse'
      post:
        summary: Add a new agreement for the system to manage
        description: Agreements exist in many forms including bailment, blanket purchase agreements, contracts, basic agreements, basic ordering agreements, grants, indefiniate delivery - indefinate quantity, purchase orders, indefinate delivery - definate quantity, requirements, letter contacts, taks orders, leases and release/delivery orders; however, each of these agreements share basic elements and management aspects after they have been awarded. This endpoint provides a unified entry point to place an agreement of any type under management for the post-award system.
        operationId: 'AgreementController::create'
        produces:
        - application/json
        schemes:
        - http
        parameters:
        - name: agreement_details
          in: body
          schema:
            $ref: '#/definitions/Agreement'
        responses:
          201:
            description: The provided agreement was successfully added to the post award system.
            schema:
              $ref: '#/definitions/AgreementResponse'
          400:
            description: The provided agreement failed basic preconditions, please refer to API documentation for required data.
            schema:
              $ref: '#/definitions/ErrorResponse'
          401:
            description: Agreements must be provided with appropriate authorization and will not be processed from unauthorized entities.
            schema:
              $ref: '#/definitions/ErrorResponse'
          409:
            description: The provided agreement has already been processed by post award and is on file, this appears to be a duplicate. The client should use the PATCH endpoint to update an existing agreement.
            schema:
              $ref: '#/definitions/ErrorResponse'
          415:
            description: Agreements must be provided in appropriate application/json structure for real time processing. Other microservices may handle conversion of resources for conversion to this format and should be used instead.
            schema:
              $ref: '#/definitions/ErrorResponse'
          500:
            description: Something went wrong server side, this is likely not a problem with the input and the server has not yet implemented appropriate handling for the condition created, administrators have been notified.
            schema:
              $ref: '#/definitions/ErrorResponse'
          503:
            description: The server is temporarily unavailable retry in provided header duration, provided in seconds.
            schema:
              $ref: '#/definitions/ErrorResponse'
    /agreement/:id:
      get:
        summary: Retrieves a specific agreement
        description: Retrieves the full agreement object for a single agreement record
        operationId: 'AgreementController::find'
        produces:
        - application/json
        schemes:
        - http
        parameters:
        - name: id
          in: path
          description: UUID v4 for the agreement to be used, may be better as the agreement slug
          required: true
          type: string
        responses:
          200:
            description: The provided agreement was successfully located by the system as under management and the response body contains the full agreement object.
            schema:
              $ref: '#/definitions/AgreementResponse'
          404:
            description: The provided agreement was not located by the system. It may never have been posted in order to place it under management.
            schema:
              $ref: '#/definitions/ErrorResponse'
      patch:
        summary: Update an agreement
        description: Updates an agreement to match the provided data
        operationId: 'AgreementController::update'
        produces:
        - application/json
        schemes:
        - http
        parameters:
        - name: id
          in: path
          description: UUID v4 for the agreement to be used, may be better as the agreement slug
          required: true
          type: string
        responses:
          200:
            description: The provided agreement was successfully added to the post award system.
            schema:
              $ref: '#/definitions/AgreementResponse'
          400:
            description: The provided agreement failed basic preconditions, please refer to API documentation for required data.
            schema:
              $ref: '#/definitions/ErrorResponse'
          401:
            description: Agreements must be provided with appropriate authorization and will not be processed from unauthorized entities.
            schema:
              $ref: '#/definitions/ErrorResponse'
          409:
            description: The provided agreement has already been processed by post award and is on file, this appears to be a duplicate. The client should use the PATCH endpoint to update an existing agreement
            schema:
              $ref: '#/definitions/ErrorResponse'
          415:
            description: Agreements must be provided in appropriate application/json structure for real time processing. Other microservices may handle conversion of resources for conversion to this format and should be used instead.
            schema:
              $ref: '#/definitions/ErrorResponse'
          500:
            description: Something went wrong server side, this is likely not a problem with the input and the server has not yet implemented appropriate handling for the condition created, administrators have been notified.
            schema:
              $ref: '#/definitions/ErrorResponse'
          503:
            description: The server is temporarily unavailable retry in provided header duration, provided in seconds.
            schema:
              $ref: '#/definitions/ErrorResponse'
      delete:
        summary: Remove an agreement
        description: Remove an agreement and all related information from the system
        operationId: 'AgreementController::destroy'
        produces:
        - application/json
        schemes:
        - http
        parameters:
        - name: id
          in: path
          description: UUID v4 for the agreement to be used, may be better as the agreement slug
          required: true
          type: string
        responses:
          204:
            description: The requested agreement and all related records were successfully deleted
          401:
            description: The request failed to include the appropriate authorization information
            schema:
              $ref: '#/definitions/ErrorResponse'
          403:
            description: The request included the authorization information, however, the user specified is disallowed from removing the agreement.
          404:
            description: The provided agreement was not located by the system. It may never have been posted in order to place it under management.
            schema:
              $ref: '#/definitions/ErrorResponse'
  definitions:
    Agreement:
      type: object
      properties:
        agreement_details:
          type: object
          properties:
            order_identifier:
              type: string
              example: FAKEBUY18A0001
            release_identifier:
              type: string
              example: FAKEORD18F0001
            effective_date:
              type: string
              format: 'date-time'
            total_value:
              type: number
              format: double
              example: 1257291938.21
        party_list:
          type: array
          items:
            $ref: '#/definitions/party'
        fund_list:
          type: array
          items:
            $ref: '#/definitions/fund'
        reference_list:
          type: array
          items:
            $ref: '#/definitions/reference'
        term_list:
          type: array
          items:
            $ref: '#/definitions/term'
        item_list:
          type: array
          items:
            $ref: '#/definitions/item'
    fund:
      type: object
      properties:
        funding_type:
          type: string
          description: Supported funding types
          default: SloaAccountingLine
          enum:
            - SloaAccountingLine
            - AirForceLegacyAccountingLine
            - ArmyLegacyAccountingLine
            - MarineCorpsAccountingLine
            - NavyLegacyAccountingLine
      required:
        - funding_type
    party:
      type: object
      properties:
        office_code:
          type: string
          description: Shorthand code identifying the office itself in one of the several systems of record for authoritative locations
          example: CAGE
        office_type:
          type: string
          description: Identifier for which official code system to which the pointer belongs
          enum:
            - CAGE
            - DODAAC
            - DUNS
            - 'DUNS+4'
          example: CGE01
        role:
          type: string
          description: Identifier for the role which the identified office plays in the agreement
          enum:
            - Buyer
            - Seller
            - Subcontractor
            - Postal Mailing Address
            - Contracting Officer Representative
            - Government Furnished Property FOB Point
            - Inspection and Acceptance Location
            - Contract Administrator
            - Facility
            - Free on Board Point
            - Acceptance Location
            - Inspection Location
            - Payer
            - Remittance Location
            - Ship To Location
            - Service Performance Location
            - Mark-for Party
          example: Buyer
        address:
          $ref: '#/definitions/address'
        coordinates:
          $ref: '#/definitions/coordinates'
      required:
      - role
    reference:
      type: object
      properties:
        reference_type:
          type: string
          description: Pointer to which reference source the data pretains
          example: 'Statement of Work'
        reference_value:
          type: string
          description: Detail data
          example: B0000118W00010001
    term:
      type: object
      properties:
        term_source:
          type: string
          description: From what authority does the term derive
          example: 'DFARS'
        term_identifier:
          type: string
          description: Pointer to the term itself
          example: '52.222-50'
    item:
      type: object
      properties:
        identifier:
          type: string
          description: Line item identifier
          example: '0001AA'
    address:
      type: object
      properties:
        addressee:
          type: string
          description: name of the business or individual to whom the address pretains
          example: John Doe, Inc
        care_of:
          type: string
          description: Second line address or c/o name
          default: null
          example: Alice Bobson
        street_number_and_name:
          type: string
          description: Street number and name
          example: 123 Main Street NW
        city:
          type: string
          description: City in which the address resides
          example: Springfield
        state:
          type: string
          description: Two character state identifier
          example: MA
        postal_code:
          type: integer
          minimum: 11111
          maximum: 999999999
      required:
      - addressee
      - street_number_and_name
      - city
      - state
      - postal_code
    coordinates:
        type: object
        properties:
          latitude_value:
            type: number
            format: double
            example: 42.1015
          latitude_direction:
            type: string
            enum:
              - N
              - S
            example: N
          longitude_value:
            type: number
            format: double
            example: 72.5898
          longitude_direction:
            type: string
            enum:
              - E
              - W
            example: W
        required:
        - latitude_value
        - latitude_direction
        - longitude_value
        - longitude_direction
    docs:
      description: Relevant documentation that may be of use to the requestor
      type: array
      items:
        type: object
        properties:
          purpose:
            type: string
            description: To what this document pretains
            example: 'Post-Award'
          link:
            type: string
            description: URI pointer to the documentation
            example: 'https://github.com/facet-acq/post-award/wiki'
    AgreementResponse:
      description: The agreement response object
      allOf:
        - $ref: '#/definitions/Agreement'
        - $ref: '#/definitions/docs'
    ErrorResponse:
      description: The error response object
      allOf:
      - $ref: '#/definitions/docs'
      - type: object
        properties:
          errors:
            type: array
            items:
              type: string
              description: Message about the error
