// Typography
$family-primary: 'Fira Sans';

// Palette
$stormy: #494E6B;
$cloud: #98878F;
$sunset: #985E6D;
$evening: #192231;

$purpleish: #494E6B;
$greyish: #97878F;
$pinkish: #975E6D;
$darkish: #1A2331;
$whiteish: #EFEFEF;


// Mappings
$primary: $stormy;
$light: $cloud;
$dark: $evening;
$footer-background-color: $sunset;
